* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}

ul, li {
    list-style: none;
}

ul {
    margin: 20px 0;
}

.header-container {
    padding: 10px;
    font-size: 18px;
}
.header-row {
    display: flex;
    justify-content: space-between;
}

.header-col {
   display: inline-block;
   align-items: center;
   
}

.header-ul {
    display: flex;
    flex-direction: row;
}

.header-ul > li {
    padding: 10px;
    margin: 0 10px;
}


a {
    text-decoration: none;
}

.blue-button {
    background-color: #0061ff;
    color: white;
    padding: 4px 18px;
}

.container-big {
    padding: 15px;
    width: 1100px;
    margin: 0 auto;
}

p {
    margin-bottom: 22px;
    font-size: 15px;
}

.container-small {
    
    width: 900px;
    margin: 140px auto 0;
    background-color: white;
}

.hero {
    background-color: #B4D0E7;
}

h1 {
    margin-top: 60px;
    font-size: 60px;
    text-align: left;
}

.debug .row {
    display: flex;
}

i {
    padding: 5px;
}
.img-section-1 {
    max-width: 100%;
    position: absolute;
   
}

.arrow-down {
    font-size: 40px;
    text-align: bottom;
    margin-top: 40px;
}


.row {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
    position: relative;
}

.col-4 {
	flex-basis: calc((100% / 12) * 3.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row-main > .col-4 {
    flex-basis: calc((100% / 12) * 3.5);
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 1px solid grey;
    
}

h2 {
    font-size: 40px;
}

.blue-circle {
    border: 6px solid #0061ff;
    border-radius: 50%;
    color: transparent;
    margin-right: 5px;
    font-size: 10px;
}

.grey-circle {
    border: 2px solid #D6D6D8;
    border-radius: 50%;
    color: transparent;
    margin-right: 5px;
}

.cta-span {
    margin-right: 50px;
}

.cta-payment {
    margin-top: 50px;
    margin-bottom: 50px
}

.container-col {
    display: flex;
    flex-direction: column;
}



.row-main {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}

.card-title {
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 40px;
    border-bottom:  1px solid rgb(120, 120, 120);
}



.card-content {
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}



.link-free-trial {
    margin-top: 60px;
    text-align: left;
    font-size: 20px;
}

.buy-now {
    text-decoration: underline;
}

hr {
    margin: 30px 0px 40px 0px;
    width: 50px;
    border:  1px solid rgb(120, 120, 120);
}

.col-footer{
    margin-top: 40px;
}

.blue {
    color: #0061ff;
}






.debug .header-container {
    
    
}

.debug .header-row {
    
   
}

.debug .header-col {
    
    
}



.debug .row {
}

.debug .col-8 {

   
}

.debug .col-4 {

}

.debug .container-small {

}

.debug .cta-payment {
    
    
}

.debug .container-cta-col {
    
}

.container-col-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}
.card-title-long {
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 40px;
    border:  1px solid rgb(120, 120, 120);
}
.row-main-2 {
    flex-direction: column;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    border:  1px solid rgb(120, 120, 120);
    border-top: none;
    height: 140px;
}
.col-9 {
	flex-basis: calc((100% / 12) * 9);
}

.card-content-2 {
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.col-3 {
    display: flex;
    flex-basis: calc((100% / 12) * 3);
    justify-content: end;
    margin-top: 40px;
    margin-right: 20px;
}
